/*h1.payrightH1,h2.payrightH2,h2.payrightH2why,h2.payrightH2works,h3.payrightH3,h4.payrightH4,h5.payrightH5,h6.payrightH6, p.payrightPayment{
	font-family: 'Roboto', sans-serif;
	color: inherit;
}*/

/*body .woocommerce-product-details__short-description p {
	color: white;
}*/

h1.payrightH1 {
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
  font-weight: 400;
  color: inherit;
}
h2.payrightH2 {
  font-size: inherit;
  margin: 0px;
  text-align: center;
  font-weight: 500;
}
.insideColumns h2.payrightH2why {
  font-size: 32px;
  margin: 25px 0 35px;
  text-align: center;
  /*padding-bottom: 20px;*/
}
.insideColumns h4.payrightH4 {
  font-weight: 500;
}
h4.payrightH4 {
  font-size: 22px;
  text-align: center;
}
h5.payrightH5 {
  font-weight: 900;
  font-size: 18px;
}
p.payrightPayment {
  font-size: inherit;
  text-align: center;
  color: inherit;
  margin-bottom: 40px;
  margin-top: 0;
}
p.payrightp {
  font-size: 18px;
  text-align: center;
  color: inherit;
}

#payrightmargin {
  padding-bottom: 10px;
}
#payrightdeposit,
#payrightmargin {
  text-align: left;
  padding-left: 0px;
  font-size: inherit;
}
#payrightdeposit {
  margin-bottom: 0px;
}
/*a {
	color: #275f95;
}*/

.payright_columns > .insideColumns > button.payrightbutton {
  background-color: #275f95;
  color: #ffffff;
  font-size: 28px;
  width: 100%;
  text-align: center;
  padding: 10px;
  text-transform: none;
  border-color: white;
}
span.installments {
  color: inherit;
}

.payright_container {
  width: auto;
  margin: auto;
}
#tellMeMore {
  color: inherit;
  text-decoration-line: none;
}
/*button {
	background-color: #275f95;
	color: #ffffff;
	font-size: 28px;
	width: 100%;
	text-align: center;
	padding: 10px;
}
*/

.bodybox {
  margin: 0px;
}
.payright_container {
  width: auto;
  margin: auto;
}
.insideColumns p.payrightpwhy {
  font-weight: 900;
  font-size: inherit;
  line-height: inherit;
  color: #275f95;
  text-align: center;
}
.payright_points p {
  font-weight: 900;
  font-size: 22px;
  line-height: inherit;
}
.payright_points {
  margin: 30px 0 30px 0 !important;
}
.pointsCenter {
  border-left: 2px solid #b2b3b6;
  border-right: 2px solid #b2b3b6;
}

.insideColumns p.payrightpimportant {
  color: inherit;
  text-align: left;
  font-size: 16px;
}
@media only screen and (max-width: 770px) {
  h1.payrightH1 {
    text-align: center;
    font-size: inherit;
  }
  h2.payrightH2 {
    text-align: center;
    font-size: inherit;
    line-height: inherit;
  }
  p.payrightPayment {
    font-size: inherit;
    line-height: inherit;
    margin-top: 0;
  }
  .imgCol {
    text-align: center;
  }
  .imgCol img {
    width: 40%;
  }
  .PointsInBlueStrip {
    padding-left: 15%;
  }
  .pointsCenter {
    border-left: 0px solid #b2b3b6;
    border-right: 0px solid #b2b3b6;
    border-top: 2px solid #b2b3b6;
    border-bottom: 2px solid #b2b3b6;
  }

  .headerLast {
    height: 0;
  }
  .imgPayRight {
    text-align: center;
  }
  .imgPayRight img {
    width: 60%;
  }

  #payrightp {
    color: white;
  }
}
@media only screen and (min-width: 771px) {
  .bodybox {
    padding: 0 40px 0 40px;
  }
  h2.payrightH2 {
    text-align: center;
    font-size: inherit;
    line-height: inherit;
  }
  #payrightp {
    color: inherit;
  }
}
